Repository kradalby/nefit-homekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev=HEAD~1
  language: system
  pass_filenames: false

Add tailscaleAuthKeyFile option to NixOS module
  README.md
  nix/module.nix
Due: nixpkgs-fmt

flake: update nixpkgs
  flake.lock
Due: none

nixos: enhance systemd service with best practices
  nix/module.nix
Due: nixpkgs-fmt

nixos: remove Nice level configuration
  nix/module.nix
Due: nixpkgs-fmt

nixos: add openFirewall option for automatic firewall configuration
  nix/module.nix
Due: nixpkgs-fmt

nixos: add dedicated ports option and update dependencies
  flake.nix
  go.mod
  go.sum
  nix/module.nix
Due: nixpkgs-fmt

Add QR code printing, kraweb integration, and proper NixOS options
  config/config.go
  config/config_test.go
  flake.nix
  go.mod
  go.sum
  homekit/server.go
  nix/module.nix
  web/server.go
  web/server_test.go
Due: nixpkgs-fmt, golangci-lint

nixos: restructure options to use nested groups
  nix/module.nix
Due: nixpkgs-fmt

docs: refresh README and implementation notes
  NEFIT_IMPLEMENTATION.md
  README.md
  homekit/server.go
  logging/logger.go
Due: golangci-lint

ci: replace workflows and tooling
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/nixos-tests.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

docs: add agents notes
  AGENTS.md
Due: none

app: add event-driven runtime
  cmd/nefit-homekit/main.go
  events/bus.go
  events/bus_test.go
  events/types.go
  events/types_test.go
  go.mod
  go.sum
  homekit/server_test.go
  logging/logger_test.go
  nefit/client.go
  nefit/client_test.go
  web/server.go
  web/server_test.go
Due: golangci-lint

nix: update module docs and options
  flake.nix
  nix/README.md
  nix/module.nix
Due: nixpkgs-fmt

Align docs and module notes
  AGENTS.md
  NEFIT_IMPLEMENTATION.md
  README.md
  cmd/nefit-homekit/main.go
  config/config.go
  config/config_test.go
  events/types.go
  homekit/server.go
  homekit/server_test.go
  nefit/client_test.go
  nix/module.nix
  web/server.go
  web/server_test.go
Due: nixpkgs-fmt, golangci-lint

Allow tsnet netlink
  nix/module.nix
Due: nixpkgs-fmt

Fix kra metrics + systemd limits
  nix/module.nix
  web/server.go
Due: nixpkgs-fmt, golangci-lint

Relax systemd proc restrictions
  nix/module.nix
Due: nixpkgs-fmt

Relax service sandbox
  nix/module.nix
Due: nixpkgs-fmt

Add HomeKit banner to thermostat UI
  web/server.go
Due: golangci-lint

Wrap manual setpoint payload
  nefit/client.go
Due: golangci-lint

high level
  events/bus.go
  events/bus_test.go
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

frontend fix
  web/server.go
Due: golangci-lint

frontend fix 2
  web/server.go
Due: golangci-lint

frontend fix 3
  web/server.go
  web/static/app.js
Due: golangci-lint

off is low temp
  homekit/server.go
  homekit/state.go
  homekit/state_test.go
Due: golangci-lint

make zero off
  homekit/server.go
  nefit/client.go
Due: golangci-lint

no off, nefit says no
  homekit/server.go
  nefit/client.go
Due: golangci-lint

config
  NEFIT_IMPLEMENTATION.md
  README.md
  config/config.go
  nix/module.nix
  web/server.go
Due: nixpkgs-fmt, golangci-lint

state dir
  flake.nix
  go.mod
  go.sum
  web/server.go
Due: nixpkgs-fmt, golangci-lint

debounce
  nefit/client.go
Due: golangci-lint

bridge name
  .env.example
  NEFIT_IMPLEMENTATION.md
  README.md
  cmd/nefit-homekit/main.go
  config/config.go
  config/config_test.go
  homekit/server.go
  homekit/server_test.go
  nefit/client_test.go
  nix/module.nix
  web/server.go
  web/server_test.go
Due: nixpkgs-fmt, golangci-lint

nefit it
  .env.example
  AGENTS.md
  NEFIT_IMPLEMENTATION.md
  README.md
  config/config.go
  config/config_test.go
  nix/module.nix
Due: nixpkgs-fmt, golangci-lint

flake.lock: update nixpkgs to 2026-04-14
  flake.lock
Due: none

go.mod: bump go to 1.26 and refresh kra/nefit-go to Wave 1 fix-up
  go.mod
  go.sum
Due: none

flake.nix: switch to go 1.26 and refresh vendorHash
  flake.nix
Due: nixpkgs-fmt

flake: switch from nixos-unstable to nixpkgs-unstable
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake: use nixpkgs shorthand in input URL
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: migrate to official Nix installer + hestia cache
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: none

lint: limit request body size and add request contexts
  web/server.go
  web/server_test.go
Due: golangci-lint

ci: evaluate flake without realising backend-dependent VM tests
  .github/workflows/ci.yml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(result/|\.direnv/)
  golangci-lint: any of: \.go$, but not: ^(result/|\.direnv/)
