Repository kradalby/nefit-homekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev=HEAD~1
  language: system
  pass_filenames: false

events: stop the underlying bus on Close
  events/bus.go
  events/bus_test.go
Due: golangci-lint

nefit: skip hot water when setting the mode fails
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: refresh only while a session is up
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: let Auto drop a setpoint queued before it
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

NEFIT_IMPLEMENTATION.md: point to flake.nix for vendorHash
  NEFIT_IMPLEMENTATION.md
Due: none

homekit, web: subscribe to state in New
  homekit/server.go
  homekit/server_test.go
  web/server.go
  web/server_test.go
Due: golangci-lint

nefit: reconnect when the session ends
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

events: refuse publishes once the bus closes
  events/bus.go
  events/bus_test.go
  homekit/server.go
  homekit/server_test.go
  nefit/client_test.go
  web/server.go
  web/server_test.go
Due: golangci-lint

go.mod: bump nefit-go for session lifecycle
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

nefit: fetch status from a single goroutine
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

web: stream SSE from a state snapshot
  web/server.go
  web/server_test.go
Due: golangci-lint

nefit: wait for goroutines on Close
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: skip unused outdoor temperature fetch
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: drive nefit-go through an interface
  nefit/client.go
Due: golangci-lint

nefit: apply every command in a debounce window
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: keep reconnect counter local to the retry loop
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

cmd/nefit-homekit: enforce the shutdown timeout
  cmd/nefit-homekit/main.go
  cmd/nefit-homekit/main_test.go
Due: golangci-lint

homekit: let Nefit resume its manual setpoint on Heat
  homekit/server.go
  homekit/server_test.go
  homekit/state.go
  homekit/state_test.go
Due: golangci-lint

homekit: offer Heat and Auto, show schedule as Auto
  homekit/server.go
  homekit/server_test.go
Due: golangci-lint

go.mod: bump kra
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

go.mod: pin nefit-go server API
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

nefit: support embedded offline and forwarding modes
  .env.example
  .gitignore
  AGENTS.md
  README.md
  config/config.go
  nefit/backend.go
  nefit/backend_test.go
  nefit/client.go
  nix/module.nix
Due: nixpkgs-fmt, golangci-lint

nefit: consume reviewed server fixes
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

nefit: use reviewed embedded server API
  flake.nix
  go.mod
  go.sum
  nefit/backend.go
  nefit/backend_test.go
  nefit/client.go
Due: nixpkgs-fmt, golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(result/|\.direnv/)
  golangci-lint: any of: \.go$, but not: ^(result/|\.direnv/)
