Repository kradalby/nefit-homekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --new-from-rev=HEAD~1
  language: system
  pass_filenames: false

ci: gate NixOS VM tests behind manual dispatch
  .github/workflows/ci.yml
Due: none

ci: pin nix-installer and hestia actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: none

ci: run checks via kradalby/flake-checks
  .github/workflows/ci.yml
  flake.lock
  flake.nix
  homekit/state.go
Due: nixpkgs-fmt, golangci-lint

deps: update flake, go deps, pin actions; fix lint and HAP test pin
  .github/workflows/ci.yml
  .github/workflows/gc.yml
  .golangci.yml
  cmd/nefit-homekit/main.go
  config/config.go
  events/bus.go
  events/types.go
  flake.lock
  flake.nix
  go.mod
  go.sum
  homekit/server.go
  homekit/server_test.go
  logging/logger.go
  nefit/client.go
  nix/module.nix
  nix/test.nix
  web/server.go
  web/server_test.go
Due: nixpkgs-fmt, golangci-lint

nix: fix integration test and harden the systemd service
  nix/integration-test.nix
  nix/module.nix
Due: nixpkgs-fmt

ci: bump Mic92/hestia to v1.0.2
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: none

all: update nix flake inputs
  config/config.go
  flake.lock
  homekit/server_test.go
  web/server_test.go
Due: golangci-lint

all: build with Go 1.27
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

config: use strings in tests
  config/config_test.go
Due: golangci-lint

homekit, events: apply go fix modernizers
  events/bus_test.go
  homekit/server.go
Due: golangci-lint

web: fix uptime readout
  web/server.go
Due: golangci-lint

nefit: re-read status on push notification
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

flake: nixfmt via flake-checks update
  flake.lock
  flake.nix
  nix/integration-test.nix
  nix/module.nix
  nix/test.nix
Due: nixpkgs-fmt

nix: retire nixpkgs-fmt from hooks and devShell
  .pre-commit-config.yaml
  flake.nix
Due: nixpkgs-fmt

deps: re-point kra and nefit-go at merged main
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

deps: bump kra, nefit-go to main
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

flake: list supported systems explicitly
  flake.nix
Due: nixpkgs-fmt

pre-commit: bump pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

ci: bump action pins
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/gc.yml
Due: none

flake: describe apps
  flake.nix
Due: nixpkgs-fmt

flake: update inputs
  flake.lock
Due: none

nefit: drive nefit-go through an interface
  nefit/client.go
Due: golangci-lint

nefit: apply every command in a debounce window
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: keep reconnect counter local to the retry loop
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: fetch status from a single goroutine
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: skip unused outdoor temperature fetch
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

nefit: wait for goroutines on Close
  nefit/client.go
  nefit/client_test.go
Due: golangci-lint

web: stream SSE from a state snapshot
  web/server.go
  web/server_test.go
Due: golangci-lint

cmd/nefit-homekit: enforce the shutdown timeout
  cmd/nefit-homekit/main.go
  cmd/nefit-homekit/main_test.go
Due: golangci-lint

homekit: let Nefit resume its manual setpoint on Heat
  homekit/server.go
  homekit/server_test.go
  homekit/state.go
  homekit/state_test.go
Due: golangci-lint

homekit: offer Heat and Auto, show schedule as Auto
  homekit/server.go
  homekit/server_test.go
Due: golangci-lint

Path conditions:
  nixpkgs-fmt: any of: \.nix$, but not: ^(result/|\.direnv/)
  golangci-lint: any of: \.go$, but not: ^(result/|\.direnv/)
